APP_HOST=127.0.0.1
APP_PORT=8080
APP_LANGUAGE=es

STANFORD_URL=http://localhost:19000
LINGUAKIT_URL=http://localhost:3002
LINGUAKIT_LANG=es
LINGUAKIT_MODE=dep
LINGUAKIT_OUTPUT=-a

GHCR_IMAGE_PREFIX=ghcr.io/raul2811
IMAGE_TAG=main

STANFORD_PORT=19000
LINGUAKIT_PORT_HOST=3002
STANFORD_JAVA_XMX=4g
CORENLP_TIMEOUT=15000
CORENLP_THREADS=2
